.git/*
.gradle/*
.idea/*
.settings/*
.metadata/*
bin/*
build/*
run/*
minecraft/*
eclipse/*
client_dir/saves/*
client_dir/resourcepacks/*
client_dir/config/*
client_dir/crash-reports/*
client_dir/logs/*
client_dir/options.txt
client_dir/optionsof.txt
client_dir/servers.dat
client_dir/usernamecache.json
buildSrc/.gradle/*
.apt_generated/*
.apt_generated_tests/*
*.txt
.project
.classpath

*.iml
*.ipr
*.iws
*.launch
.factorypath

forge*changelog.txt
!/client_dir/mods/
!/client_dir/resourcepacks/
!/client_dir/options.txt
!/client_dir/optionsof.txt
!/client_dir/servers.dat
!/client_dir/usernamecache.json
build\
logs\
crash-reports\
config\
saves\
.gradle\
build\
optionsof.txt
options.txt
usernamecache.json
buildSrc\
shaderpacks\
*.class
*.jar
*.MF
/out/
/buildSrc/.gradle/
/buildSrc/build/
/build/
/.gradle/
/client_dir/
